<% posts.each do |post| %>
  <% post.tags.each do |tag| %>
    <div class="w-100 text-right mt-5">
      <%= link_to public_posts_path(name: tag.id), class: "btn btn-warning rounded-pill" do %>
        <%= tag.name %>
      <% end %>
    </div>
  <% end %>
  <%= link_to public_post_path(post), class: "link" do %>
    <table class="mt-4 ml-5">
      <tr>
        <th class="pr-3"><%= image_tag post.user.get_profile_image, class: "rounded-circle", size: "80x80" %></th>
        <th><h4><b><%= post.user.name %></b></h4></th>
      </tr>
    </table>
    <table>
      <tr>
        <th class="p-5 text"><%= safe_join(post.text.split("\n"),tag(:br)) %></th>
      </tr>
      <tr>
        <th class="pl-5 image-size"><%= image_tag post.post_image, size: "600x500" if post.post_image.attached? %></th>
      </tr>
    </table>
    <div class="border-bottom border-white w-100 text-right p-3">
      <div id="favorite_btn_<%= post.id %>">
        <b><%= render 'public/posts/favorite', post: post %></b>
      </div>
      <div>
        <%= render "public/comments/comment_count", post: post %>
      </div>
    </div>
  <% end %>
<% end %>