<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <%= form_tag public_posts_path, method: :get, class: 'boards__searchForm' do %>
  <% @tags.each do |tag| %>
    <div class="tag-box">
      <%= link_to tag.name, public_posts_path(name: tag.id), class: "btn btn-warning rounded-pill mt-2 mb-3" %>
    </div>
  <% end %>
  <div class="tag-box">
    <%= link_to "全て表示", public_posts_path, class: "btn btn-success rounded-pill mt-2 mb-3" %>
  </div>
  <div class="border-bottom border-white mb-5"></div>
  <% @posts.each do |post| %>
    <% post.tags.each do |tag| %>
      <div class="w-100 text-right mt-5">
        <div class="btn btn-warning rounded-pill">
          <%= tag.name %>
        </div>
      </div>
    <% end %>
    <%= link_to public_post_path(post), class: "link" do %>
      <% if post.user.profile_image.attached? %>
        <table class="w-100">
          <tr>
            <th width="100"><%= image_tag post.user.profile_image, class: "rounded-circle", size: "80x80" %></th>
            <th>
              <h3><b><%= post.user.name %></b></h3>
            </th>
          </tr>
          </table>
          <table>
          <tr>
            <th class="p-5"><h5><%= safe_join(post.text.split("\n"),tag(:br)) %></h5></th>
          </tr>
          <tr>
            <th class="pl-5"><%= image_tag post.post_image, size: "600x500" if post.post_image.attached? %></th>
          </tr>
        </table>
        <div class="border-bottom border-white w-100 text-right p-3 mb-5">
          <div id="favorite_btn_<%= post.id %>">
            <b><%= render 'public/posts/favorite', post: post %></b>
          </div>
          <div>
            <i class="far fa-comment"></i>
            <b><%= post.comments.count %></b>
          </div>
        </div>
      <% else %>
        <table class="w-100">
          <tr>
            <th width="100"><%= image_tag 'no_image', class: "rounded-circle", size: "80x80" %></th>
            <th>
              <h3><b><%= post.user.name %></b></h3>
            </th>
          </tr>
          </table>
          <table>
          <tr>
            <th class="p-5"><h5><%= safe_join(post.text.split("\n"),tag(:br)) %></h5></th>
          </tr>
          <tr>
            <th class="pl-5"><%= image_tag post.post_image, size: "600x500" if post.post_image.attached? %></th>
          </tr>
        </table>
        <div class="border-bottom border-white w-100 text-right p-3 mb-5">
          <div id="favorite_btn_<%= post.id %>">
            <b><%= render 'public/posts/favorite', post: post %></b>
          </div>
          <div>
            <i class="far fa-comment"></i>
            <b><%= post.comments.count %></b>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <% end %>
</div>
