<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <div class="border-bottom border-white my-3">
    <% @tags.each do |tag| %>
      <div class="tag-box">
        <%= link_to tag.name, public_posts_path(name: tag.id), class: "btn btn-warning rounded-pill my-3" %>
      </div>
    <% end %>
    <div class="tag-box">
      <%= link_to "全表示", public_posts_path, class: "btn btn-success rounded-pill my-3" %>
    </div>
    <div class="p-3 text-right">
      <%#= form_with model: @tags, url: public_posts_path, method: :get do |f| %>
        <%#= f.text_field :tag, class: "rounded-pill" %>
        <%#= f.submit "タグを追加" %>
      <%# end %>
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <%= text_field_tag :tag %>
        <%= submit_tag 'タグを追加' %>
      <% end %>
    </div>
  </div>
  <%= render "public/posts/mypage_post", posts: @posts %>
</div>
