<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <div class="row">
    <div class="col-md-8">
      <% @post.tags.each do |tag| %>
        <div class="w-100 text-right mt-5">
          <%= link_to public_posts_path(name: tag.id), class: "btn btn-warning rounded-pill" do %>
            <%= tag.name %>
          <% end %>
        </div>
      <% end %>
      <%= link_to public_user_path(@user), class: "link" do %>
      <table class="m-5">
        <tr>
          <th width="120"><%= image_tag @user.get_profile_image, class: "rounded-circle", size: "80x80" %></th>
          <th><h2><%= @user.name %></h2></th>
        </tr>
      </table>
      <% end %>
      <table>
        <tr>
          <th class="p-5"><%= safe_join(@post.text.split("\n"),tag(:br)) %></th>
        </tr>
        <tr>
          <th class="pl-5"><%= image_tag @post.post_image, size: "600x500" if @post.post_image.attached? %></th>
        </tr>
      </table>
      <div class="text-right p-3">
        <div id="favorite_btn_<%= @post.id %>">
          <b><%= render 'public/posts/favorite', post: @post %></b>
        </div>
        <div>
          <%= render "public/comments/comment_count", post: @post %>
        </div>
        <% if @user == current_user || current_admin %>
          <div>
            <%= link_to "つぶやきを削除する", public_post_path(@post), method: :delete, class: "btn btn-md btn-danger", data: { confirm: "【確認】投稿を削除してよろしいですか？" } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-4" id="comment_form">
      <%= render "public/comments/comment_form", comment: @comment, post: @post %>
    </div>
  </div>
  </table>
  <div id="comment_area">
    <%= render "public/comments/comment", user: @user, post: @post %>
  </div>
</div>