<table class="m-5">
  <% if user.profile_image.attached? %>
    <tr>
      <th><%= image_tag user.profile_image, class: "rounded-circle", size: "200x200" %></th>
      <th><h2 class="ml-5"><b><%= user.name %></b></h2></th>
    </tr>
  <% else %>
    <tr>
      <th><%= image_tag 'no_image', class: "rounded-circle", size: "200x200" %></th>
      <th><h2 class="ml-5"><b><%= user.name %></b></h2></th>
    </tr>
  <% end %>
  <tr>
    <th class="pt-3 pb-3" >
      <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー外す", public_user_relationships_path(user.id), method: :delete, class: "btn btn-danger", remote: true %>
        <% else %>
          <%= link_to "フォローする", public_user_relationships_path(user.id), method: :post, class: "btn btn-primary", remote: true %>
        <% end %>
        <%= link_to "編集", edit_public_user_path(user), class: "btn btn-success mr-auto" %>
      <% else %>
        <%= link_to "編集", edit_public_user_path(user), class: "btn btn-success mr-auto" %>
      <% end %>
    </th>
    <th></th>
  </tr>
  <tr>
    <th>フォロー:</th>
    <th id='following-count_<%= user.id %>'>
      <%= link_to "#{ user.followings.count }", public_user_followings_path(user) %>
    </th>
  </tr>
  <tr>
    <th>フォロワー:</th>
    <th id='following-count_<%= user.id %>'>
      <%= link_to "#{ user.followers.count }", public_user_followers_path(user) %>
    </th>
  </tr>
  <tr>
    <th class="align-top">introduction:</th>
    <th class="text"><%= safe_join(user.introduction.to_s.split("\n"),tag(:br)) %></th>
  </tr>
</table>