<table class="m-5">
  <tr>
    <th><%= image_tag user.get_profile_image, class: "rounded-circle img-fluid center-block", size: "130x130" %></th>
    <th><h2 class="ml-5"><b><%= user.name %></b></h2></th>
  </tr>
</table>
<table class="m-5">
  <tr>
    <th class="py-3 pr-2" >
      <% unless user == current_user %>
        <% if current_user.following?(user) %>
          <%= link_to "フォロー外す", public_user_relationships_path(user.id), method: :delete, class: "btn btn-danger", remote: true %>
        <% else %>
          <%= link_to "フォローする", public_user_relationships_path(user.id), method: :post, class: "btn btn-primary", remote: true %>
        <% end %>
        <% if user == current_user %>
          <%= link_to "編集", edit_public_user_path(user), class: "btn btn-success mr-auto" %>
        <% end %>
      <% else %>
        <% if user.name != "guestuser" %>
          <%= link_to "編集", edit_public_user_path(user), class: "btn btn-success mr-auto" %>
        <% end %>
      <% end %>
      </th>
      <th class="pt-3">
      <!--相互フォローのみチャットリンク表示-->
      <% unless user.id == current_user.id %>
        <% if (current_user.followed_by? user) && (user.followed_by? current_user)  %>
          <% if isRoom == true %>
            <p class="user-show-room">
              <%= link_to public_room_path(roomId), class: "btn btn-primary" do %>
                <i class="far fa-envelope"></i>
              <% end %>
          <% else %>
            <%= form_with model: room, url: public_rooms_path, method: :post do |f| %>
              <%= fields_for entry do |e| %>
                <%= e.hidden_field :user_id, value: user.id %>
              <% end %>
              <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                <i class="far fa-envelope"></i>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </th>
    <th></th>
  </tr>
</table>
<table class="m-5">
  <tr>
    <th width="100">総レベル:</th>
    <th id='following-count_<%= user.id %>'>
      Lv. <%= user.followings.count + user.followers.count %>
    </th>
  </tr>
  <tr>
    <th>フォロー:</th>
    <th id='following-count_<%= user.id %>'>
      Lv. <%= link_to "#{ user.followings.count }", public_user_followings_path(user) %>
    </th>
  </tr>
  <tr>
    <th>フォロワー:</th>
    <th id='following-count_<%= user.id %>'>
      Lv. <%= link_to "#{ user.followers.count }", public_user_followers_path(user) %>
    </th>
  </tr>
  <tr>
    <th class="align-top">自己紹介:</th>
    <th class="text">
      <%= safe_join(user.introduction.to_s.split("\n"),tag(:br)) %>
    </th>
  </tr>
</table>