<div class="container nes-container is-rounded is-dark mx-auto my-bgc p-5">
  <div class="pb-5">
    <%= link_to "戻る", public_user_path(@user.id), class:"edit-link btn btn-warning rounded-pill" %>
  </div>
  <h2 class="rooms-title">メッセージ</h2>
  <% @entries.each do |e| %>
    <div class="pt-3">
      <strong>
        <%= image_tag e.user.get_profile_image, class: "rounded-circle img-fluid center-block", size: "50x50" %>
        <%= link_to public_user_path(e.user.id), class: "link" do %>
          <%= e.user.name %>さん
        <% end %>
      </strong>
    </div>
  <% end %>
  <hr>
  <div class="chats">
    <div class="chat">
      <% if @messages.present? %>
        <% @messages.each do |m| %>
          <table>
            <tr>
              <th class="p-5">
                <%= image_tag m.user.get_profile_image, class: "rounded-circle img-fluid center-block", size: "50x50" %>
              </th>
              <th class="nes-balloon is-dark">
                <%= safe_join(m.content.split("\n"),tag(:br)) %>
              </th> 
              <th>
                <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
              </th>
            </tr>
          </table>
        <% end %>
      <% end %>
    </div>
    <div id="message_<%= @message.id %>">
      <%= render "public/messages/message", message: @message, room: @room %>
    </div>
  </div>
</div>