<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <h1 class="text-center pt-5">
    <strong>
      Share Gamesへようこそ！
    </strong>
  </h1>
  <section class="message-list">
    <section class="message -left">
      <%= image_tag 'brave.png', size: "200x200" %>
      <!-- Balloon -->
      <div class="nes-balloon from-left is-dark">
        <p>
          このサイトは、様々なゲームの情報が知れるゲーム特化のつぶやきサイトです！<br>
          ゲームの情報をつぶやいたり、興味のある人をフォローして最新情報をシェアしよう！
        </p>
      </div>
    </section>
    <section class="message -right">
      <!-- Balloon -->
      <div class="nes-balloon from-right is-dark">
        <p>
          登録したら、まずはお気に入りのユーザーをフォローしてフォローLvを上げてみよう！<br>
          また、フォローされることでフォロワーレベルが上がっていくぞ！たくさんつぶやいてフォローしてもらおう！<br>
          Lvを上げれば、よりたくさんの情報を共有できます！自分だけの情報共有サイトを作り上げよう！
        </p>
      </div>
      <%= image_tag 'monster.png', size: "200x200" %>
    </section>
  </section>
  <div>
    <p class="text-center">
      <%= link_to "新規登録",  new_user_registration_path, class: "btn btn-success mr-5" %>
      <%= link_to "ログイン", new_user_session_path, class: "btn btn-primary mr-5" %>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
    </p>
  </div>
</div>