<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <%= form_with model: @tags, url: admin_tags_path, method: :post do |f| %>
    <%= flash[:alert] %>
    <%= f.text_field :name, value: "", class: "rounded-pill"%>
    <%= f.submit "タグを追加" %>
  <% end %>
  <% @tags.each do |tag| %>
    <div>
      <%= link_to tag.name, public_posts_path(name: tag.id), class: "btn btn-warning rounded-pill my-3" %>
      <%= link_to "削除", admin_tag_path(tag), method: :delete, class: "btn btn-md btn-danger" %>
    </div>
  <% end %>
</div>