<div class="container nes-container is-rounded is-dark mx-auto my-bgc">
  <h2 class="mt-5 ml-3">プロフィール編集</h2>
  <%= form_with model: @user, url: public_user_path(@user) do |f| %>
    <table class="ml-5">
      <tr>
        <th><%= image_tag @user.get_profile_image, class: "rounded-circle", size: "200x200" %></th>
      </tr>
      <tr>
        <th>
          <%= f.label :profile_image, "プロフィール画像を変更", class: "edit-btn" %>
          <%= f.file_field :profile_image, accept: "image/*", class: "edit-image" %>
        </th>
      </tr>
    </table>
    <table class="table text-white">
      <tr>
        <th>ユーザーネーム</th>
        <th><%= f.text_field :name %></th>
      </tr>
      <tr>
        <th>自己紹介</th>
        <th><%= f.text_area :introduction, size: "40x10" %></th>
      </tr>
    </table>
    <div class="text-right mb-3 mr-5">
      <%= link_to "マイページに戻る", public_user_path(current_user), class: "btn btn-lg btn-primary"%>
      <%= f.submit "更新", method: :patch, class: "btn btn-lg btn-success" %>
    </div>
  <% end %>
</div>