<div class="container">
  <h2>
    <%= @user.name %>さんのマイページ
  </h2>
  <div>
  <% if @user.profile_image.attached? %>
    <h2>
      <%= image_tag @user.profile_image, size: "200x200" %>
      <%= @user.name %>
    </h2>
  <% else %>
    <h2>
      <%= image_tag 'no_image', size: "200x200" %>
      <%= @user.name %>
    </h2>
  <% end %>
  </div>
</div>