<div class="container border">
  <div id="follow-btn_<%= @user.id %>">
    <%= render "public/relationships/followers", user: @user %>
  </div>
  <ul class="nav nav-tabs nav-fill">
    <li class="nav-item">
      <a class="nav-link active text-dark" data-toggle="tab" href="#tab-post">過去の投稿</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-dark" data-toggle="tab" href="#tab-favorite">いいね一覧</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active mt-5" id="tab-post">
      <% @posts.each do |post| %>
        <%= link_to public_post_path(post), class: "post-link" do %>
          <table class="mt-4 ml-5">
            <% if post.user.profile_image.attached? %>
              <tr>
                <th class="pr-3"><%= image_tag post.user.profile_image, class: "rounded-circle", size: "80x80" %></th>
                <th><h4><b><%= post.user.name %></b></h4></th>
              </tr>
            <% else %>
              <tr>
                <th class="pr-3"><%= image_tag 'no_image', class: "rounded-circle", size: "80x80" %></th>
                <th><h4><b><%= post.user.name %></h4></b></th>
              </tr>
            <% end %>
          </table>
          <table>
            <tr>
              <th class="p-5 text"><%= safe_join(post.text.split("\n"),tag(:br)) %></th>
            </tr>
            <tr>
              <th class="pl-5"><%= image_tag post.post_image, size: "600x300" if post.post_image.attached? %></th>
            </tr>
          </table>
          <div class="border-bottom border-dark w-100 text-right p-3">
            <div id="favorite_btn_<%= post.id %>">
              <b><%= render 'public/posts/favorite', post: post %></b>
            </div>
            <div>
              <%= render "public/comments/comment_count", post: post %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane mt-5" id="tab-favorite">
      <% @favorite_posts.each do |post|%>
        <%= link_to public_post_path(post), class: "post-link" do %>
          <table class="mt-2 ml-5">
            <% if post.user.profile_image.attached? %>
              <tr>
                <th class="pr-3"><%= image_tag post.user.profile_image, class: "rounded-circle", size: "80x80" %></th>
                <th><h4><b><%= post.user.name %></b></h4></th>
              </tr>
            <% else %>
              <tr>
                <th class="pr-3"><%= image_tag 'no_image', class: "rounded-circle", size: "80x80" %></th>
                <th><h4><b><%= post.user.name %></h4></b></th>
              </tr>
            <% end %>
          </table>
          <table>
            <tr>
              <th class="p-5 text"><%= safe_join(post.text.split("\n"),tag(:br)) %></th>
            </tr>
            <tr>
              <th class="pl-5"><%= image_tag post.post_image, size: "600x300" if post.post_image.attached? %></th>
            </tr>
          </table>
          <div class="border-bottom border-dark w-100 text-right p-3">
            <div id="favorite_btn_<%= post.id %>">
              <b><%= render 'public/posts/favorite', post: post %></b>
            </div>
            <div>
              <i class="far fa-comment"></i>
              <b><%= post.comments.count %></b>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </duv>
</div>