<!DOCTYPE html>
<html>
  <head>
    <title>ShareGames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h2>
        <strong>
          <%= link_to "Share Games", root_path, class: "text-white ml-5" %>
        </strong>
      </h2>
      <div class="collapse navbar-collapse mr-5">
        
        <ul class="ml-auto pt-3">
          <li class="nav-item active">
            <%= link_to "ログイン", root_path, class: "text-white" %>
          </li>
        </ul>
        <ul class="pt-3">
          <li class="nav-item">
             <%= link_to "マイページ", root_path, class: "text-white" %>
          </li>
        </ul>
        <ul class="pt-3">
          <li class="nav-item">
            <%= link_to "つぶやく", root_path, class: "text-white" %>
          </li>
        </ul>
        <ul class="pt-3">
          <li class="nav-item">
            <%= link_to "タイムライン", root_path, class: "text-white" %>
          </li>
        </ul>
        <ul class="pt-3">
          <li class="nav-item">
            <%= link_to "利用規約", root_path, class: "text-white" %>
          </li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </ul>
      </div>
    </nav>
  <body>
    <%= yield %>
  </body>
</html>
