<!DOCTYPE html>
<html>
  <head>
    <title>ShareGames</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
  </head>
  <body class="body-bg-image">
    <section class="hero">
    <div class="video-box overlay">
      <video class="video" muted autoplay playsinline>
        <source src="/static/videos/top.mp4" type="video/mp4">
      </video>
    </div>
    <div class="text-box">
    <header class="fixed-top"> <!--ヘッダー固定-->
      <nav class="navbar navbar-expand-sm mb-3 nes-container is-rounded is-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h2>
          <strong>
            <%= link_to root_path do %>
              <%= image_tag 'logo.png', size: "400x100"%>
            <% end %>
          </strong>
        </h2>
        <div class="collapse navbar-collapse mr-5">
          <% if admin_signed_in? %>
            <ul class="ml-auto list-unstyled pt-3 flex">
              <li class="nav-item ml-4">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "ユーザー一覧", admin_root_path, class: "btn btn-light rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "タイムライン", public_posts_path, class: "btn btn-warning rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "利用規約", public_homes_terms_path, class: "btn btn-light rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4 pt-1">
                <% if user_signed_in? %>
                  <%= form_tag(search_path, method: :get) do %>
                    <%= select_tag 'model', options_for_select({ "ユーザー" => "user", "つぶやき" => "post" }) %>
                    <%= text_field_tag 'content' %>
                    <%= submit_tag '検索' %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          <% elsif user_signed_in? %>
            <ul class="ml-auto list-unstyled pt-3 flex">
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                 <%= link_to "マイページ", public_user_path(current_user), class: "btn btn-light rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "つぶやく", new_public_post_path, class: "btn btn-warning rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "フォロータイムライン", public_follow_index_path, class: "btn btn-light rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "タイムライン", public_posts_path, class: "btn btn-warning rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "利用規約", public_homes_terms_path, class: "btn btn-light rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4 pt-1">
                <% if user_signed_in? %>
                  <%= form_tag(search_path, method: :get) do %>
                    <%= select_tag 'model', options_for_select({ "ユーザー" => "user", "つぶやき" => "post" }) %>
                    <%= text_field_tag 'content' %>
                    <%= submit_tag '検索' %>
                  <% end %>
                <% end %>
              </li>
            </ul>
          <% else %>
            <ul class="ml-auto list-unstyled pt-3 flex">
              <li class="nav-item ml-4">
                <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "新規登録", new_user_registration_path, class: "btn btn-light rounded-pill font-weight-bold" %>
              </li>
              <li class="nav-item ml-4">
                <%= link_to "利用規約", public_homes_terms_path, class: "btn btn-warning rounded-pill font-weight-bold" %>
              </li>
            </ul>
          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
    </div>
  </section>
  </body>
</html>